# =====================================
# Node / Next.js
# =====================================

# dependencies
frontend/node_modules

# next.js build output
frontend/.next/

# environment files
.env.local

# typescript
*.tsbuildinfo
next-env.d.ts

# =====================================
# Python
# =====================================
__pycache__

# Virtual environments
.venv/

# =====================================
# Custom
# =====================================
/data/
